* {
    margin: 0;
    background-color: #222;
    color: #fff;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
#logo {
    margin: 0;
}
#title {
    font-size: 40px;
    text-align: center;
    background-color: #aa2200;
    padding: 30px;
    margin: 0;
    color: #000;
}
#input {
    margin: 10px;
    background-color: #eee;
    color: #000;
    border-radius: 25px;
    padding: 12px;
    width: 50%;
}
#alert {
    position: static;
}
#addButton {
    border-radius: 25px;
    padding: 12px;
    background-color: #333;
    border: none;
    position: static;
}
#addButton:hover {
    background-color: #aa2200;
    cursor: pointer;
    color: #000;
}
li input {
    background: #222;
    margin: 0;
    padding: 0;
    border: none;
    width: 98%
}
li input:hover {
    background: #aa2200;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    border-radius: 25px;
    position: relative;
    padding: 10px 10px 10px 30px;
    background: #222;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: solid 2px #aa2200;
    margin: 2px 10px 2px 10px;
}
ul li:hover {
    background: #aa2200;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 16px 10px 16px;
    border-radius: 25px;
    background-color: #333;
}
.close:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
.edit {
    position: absolute;
    right: 250;
    top: 0;
    padding: 10px 16px 10px 16px;
    border-radius: 25px;
    background-color: #333;
}